.example-container{
    background: #f7f1e8;
    height: -webkit-fill-available;
    padding: 15px 1%;
    margin: 0 15%;
}

.form-container{
    width: 400 px; 
    margin: 0 px auto; 
    margin-top: 200 px
}
.mat-form-field{
    padding: 15px;
    width: 47%;
}
.mat-button-disabled {
    background-color: #a2aa98 !important ;
}
.text-align {
    text-align: left;
}